/* =====
Layout
====== */
/* main top image */
h1 {
  text-align: center;

  background-image: url(../images/portfolio-header.png), url(../images/portfolio-header-bg.png);
  background-position: 75%;
  background-repeat: no-repeat, repeat;
  background-size: contain;
  padding: 3rem;
  margin: 0;
}

.projects {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
  padding: 5rem;
  padding-top: 4rem;
}

.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}


h2 {
  padding: 1rem;
  padding-bottom: 1rem;
  margin-top: -0.5rem
}

p {
  padding: 0 2rem 2rem 2rem;
  border-bottom: #0c4c57 0.4rem double;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

h2, p {
  margin: 0;
  border-left:  #0c4c57 0.4rem double;
  border-right:  #0c4c57 0.4rem double;
}

a {
  margin: 0;
  padding 0;
}

/* fit slack logo to project card */
[src="images/slack-logo.jpeg"] {
  height: 10rem;
  background-color: #3a0d3b;
}


/* =====
Typography
===== */
h1 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 200;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

a:hover {
  text-decoration: none;
}